.title {
    font-family: fantasy;
    font-size: 64px;
}

.photo {
    height: auto;
    width: 600px;
}

.subheading {
    font-family: cursive;
    font-size: 28px;
}

.exit, p, ul, ol, h4 {
    font-family: Arial, Helvetica, sans-serif;
}